.email {
  background-color: rgb(232, 232, 232);
  padding: 0.5em 0.5em 0.5em;
  display: grid;
  grid-template-rows: 40px 300px;
  grid-template-columns: 110px 300px;
}

button {
  margin: 0.5rem;
}
.main-content button {
  height: 15px;
  font-size: 0.5em;
}
.item-1 {
  background-color: rgb(112, 154, 140);
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;
}

.item-2 {
  background-color: rgb(112, 154, 140);
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 2;
}

.side-nav-email {
  background-color: antiquewhite;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 1;
}
.main-content {
  background-color: rgb(141, 165, 165);
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
}
.main-content div:hover {
  background-color: rgb(46, 185, 185);
}

.main-content div {
  display: flex;
}

.side-nav-email div:hover {
  background-color: rgb(167, 122, 63);
}

.bold {
  background-color: rgb(60, 75, 75);
}

.yellowStar {
  background-image: "/images/yellow-star.png";
}

.blackStar {
  background-image: "/images/.blackStar.png";
}
img {
  width: 20px;
  height: 20px;
  padding: 1px;
}
